@media(max-width: 1601px){
	.header {
		margin-bottom: 230px;
		min-height: 600px;
	}
	.header::before {

		min-height: 600px;

	}
	.header__inner-top {
    margin-bottom: 55px;
}
.interactive-web {
	margin-top: 50px;
}
	.interactive-car img{
		width: 657px;
		height: 373px;

	}

}
@media(max-width: 1375px){
	.header {
		margin-bottom: 160px;
		min-height: 500px;
	}
.header::before {
	min-height: 500px;
}

.header__inner-top {
	padding-top: 27px;
  margin-bottom: 35px;
}
.info-title {
	font-size: 58px;
	line-height: 65px;
}
.info-subtitle {
	margin-bottom: 20px;
	font-size: 28px;
	line-height: 39px;
}
.bottom-info h3{
	margin-bottom: 20px;

}
.interactive-web {
	margin-top: 55px;
}
.interactive-car{
	top: 175px;
	}
	.info-block {
    margin-left: 35px;
	}
}
@media(max-width: 1150px){
.header {
	margin-bottom: 120px;
	min-height: 400px;
}
.header::before {
	min-height: 400px;
}
	.interactive-web {
		margin-top: 20px;
}
.interactive-car{
	top: 125px;
}
.interactive-car img{
	width: 500px;
	height: 284px;
}
.about__list li:hover{
	width: 100%;
}
.about__info {
	max-width: 500px;
	padding-right: 70px;
}
.about__info h4{
margin-top: 25px;
}
.about__list li{
	width: 300px;
	padding: 5px 7px 5px 70px;
}
.about__list li::before{
	left: 10px;
	}
.about__list li h4{
	font-size: 18px;
	}
	.about__list li h5{
		font-size: 12px;
		line-height: 19px;
	}
	.info-block {
    margin-left: 15px;
		margin-top: none;
		min-width: 600px;
}
.block-item {
	padding-left: 20px;
	width: 240px;
}
.why-car img{
	height: 521px;
	width: 275px;
}
.block-item h4{
	font-size: 30px;
	line-height: 47px;
	}
	.block-item h5{
	font-size: 20px;
	line-height: 30px;
	}
	.block-item p{
	font-size: 14px;
	line-height: 22px;
	}
}
@media(max-width: 960px){
	.form input{
		width: 350px;
		height: 65px;
	}
	.form-title::after{
		display: none;
	}
	
}
@media(max-width: 916px){
.header {
	margin-bottom: 80px;
	min-height: 300px;
}
.header::before {
	min-height: 300px;
}
.header__inner-top {
	padding-top: 17px;
	margin-bottom: 20px;
}
.info-title {
	font-size: 38px;
	line-height: 45px;
}
.info-subtitle {
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 29px;
}
.interactive-web {
	margin-top: 55px;
}
.interactive-car{
	top: 150px;
}
.interactive-car{
	top: 150px;
}
.interactive-car img{
	width: 395px;
	height: 224px;
}
.about__info {
	max-width: 400px;
	padding-right: 50px;
}
.info-block {
	margin-top: 0px;
}
.why__inner {
flex-direction: column-reverse;
align-items: center;
}
.why-car {
	position: relative;
	height: 275px;
	width: 521px;
}
.why-car img{
	transform: rotate(270deg);
position: absolute;
top: -95px;
left: 122px;
}
.auto-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.auto-box__img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
background: none;
color: #000;
}
.auto-box__img img{
	width: 88%;
	height: 88%;
}
}
@media(max-width: 741px){
	.header {
		margin-bottom: 60px;
	}
	.about__innner {
		align-items: center;
	}
	.title {
		text-decoration: underline;
		}
	.title::after {
		display: none;
	}
	.about__inner-content {
		flex-direction: column;
		align-items: center;
	}
	.about__info {
		max-width: 100%;
		padding-right: 30px;
	}
	.about__list{
		padding-top: 10px;
		text-align: center;
		width: 100%;
	}
	.about__list li{
		width: 100%;
	}
	.about__list li::before{
		transform: rotate(0deg);
		}
		.auto-box {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
		.auto-box__img {
			margin-right: 10px;
		}
		.auto-box__img img{
			width: 100%;
			height: 100%;
		}
		.contacts__inner {
			flex-direction: column-reverse;
		}
		.info {
			width: 100%;
		}
		.form {
			width: 100%;
		}
		.info_blocks {
			margin-top: 25px;
			display: flex;
			justify-content: space-between;
	}
	.inputs{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 10px 0 40px 0;
	}
}
@media(max-width: 665px){
	.header::before {
		display: none;
	}
	.header__inner-top {
    padding-top: 10px;
    margin-bottom: 15px;
}
.header__inner-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bottom-info{
	text-align: center;
}
	.top__number {
    font-size: 26px;
    line-height: 53px;
}
.top__log {
	height: 53px;
}
.bottom-interactive {
	align-items: center;
}
.interactive-web {
	margin-top: 20px;
}
	.interactive-car{
		position: relative;
		top: 0;
		padding: 30px 0;
	}
	.why-car{
width: 300px;
height: 158px;
	}
	.why-car img{
		width: 158px;
		height: 300px;
		top: -60px;
    left: 79px;
			}
	.info-block{
	min-width: 400px;
	}
}
@media(max-width: 665px){
	.header__inner-top{
		flex-wrap: wrap;
		justify-content: center;
	}
	.top__log{
		padding-right: 10px;
	}
	.top__number{
		padding-left: 10px;
	}
	.info-title {
		font-size: 28px;

	}
	.info-subtitle {
		font-size: 15px;
	}
	.info-block {
		max-width: 600px;
		min-width: none;
	}
	.bottom-info h3{
		font-size: 13px;
	}
	.block-item h4{
		font-size: 25px;
		line-height: 37px;
		}
		.block-item h5{
		font-size: 17px;
		line-height: 25px;
		}
		.block-item p{
		font-size: 13px;
		line-height: 17px;
		}
		.auto-box__img {
			width: 280px;
			height: 184px;
		}
		.auto-slider .slick-dots{
			margin-top: 15px;
			}
			.auto-slider .slick-dots button{
				margin: 0 5px;
				width: 25px;
				height: 2px;
				}
}
@media(max-width: 561px){
	.header {
		margin-bottom: 30px;
	}
	.title {
		font-size: 28px;
		}
	.about__info h4{
font-size: 20px;
	}
	.about__info p{
	line-height: 20px;
	font-size: 18px;
	}
	.btn--decor::before {
		display: none;
	}
	.btn--decor::after {
		display: none;
	}
	.why-car {
		height: 158px;
		width: 300px;
	}
	.auto-box {
		flex-direction: column;
	}
	.info_blocks {
	flex-direction: column;
}
}
@media(max-width: 475px){
	.about__info {
		padding-right: 10px;
	}
	.info-block{
		min-width: 300px;
		padding-left: 0px;
    padding-right: 0px;
		}
		.foonter__inner{
		height: 200px;
		flex-direction: column;
		justify-content: space-around;
		}
		.footer__interactive-web {
			width: 150px;
		}
		
}
@media(max-width: 400px){
	.interactive-car img{
		width: 310px;
		height: 176px;
	}
	.about__list li h5{
		font-size: 10px;
	}
	.about__info {
		padding-right: 5px;
	}
	.info-block{
		min-width: 250px;
	}
	.form input{
		width: 250px;
		height: 50px;

	}
}