@font-face {
	font-family: 'Oswald';
	src: url('../resources/fonts/Oswald-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Oswald';
	src: url('../resources/fonts/Oswald-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

body{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	line-height: 27px;
	font-weight: 300;
}
a{
	color: #fff;
}

.header {
	background-color: #21062A;
	color: #fff;
	min-height: 700px;
	margin-bottom: 271px;
}
.header::before {
	content: ' ';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	min-height: 700px;
	z-index: 0;
	opacity: 0.07;
	background-image: url('../resources/img/road.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
}
.header__inner-top {
	padding-top: 47px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 105px;
}
.top__log {
	height: 53px;
}
.top__number {
	font-size: 36px;
	line-height: 53px;
}
.header__inner-bottom{
	position: relative;
}
.info-title {
	font-size: 72px;
	line-height: 95px;
	text-transform: uppercase;
}
.info-subtitle {
	margin-bottom: 30px;
	font-size: 36px;
	line-height: 49px;
	text-transform: uppercase;
}
.bottom-info h3{
	font-weight: 300;
}
.bottom-interactive{

	display: flex;
	flex-direction: column;
	align-items: start;

}
.btn {
	margin-top: 30px;
	background: #5A0D67;
	text-align: center;
	padding: 15px 55px;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	transition: all 0.5s;
	border: 1px solid #5A0D67;
	color: #fff;
	text-transform: uppercase;
}
.btn:hover{
	background: #fff;
	color: #5A0D67;
}
.interactive-web {
	margin-top: 70px;
	
	width: 250px;
	display: flex;
	justify-content: center;
}
.interactive-web a{
	display: block;
padding-right: 10px;
}
.interactive-car {
	position: absolute;
	right: 0;
	top: 230px;
}
.about{
	margin-bottom: 100px;
}

.about__innner {
	display: flex;
	flex-direction: column;
	align-items: start;
}
.title {
font-weight: 400;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
color: #21062A;
position: relative;
}
.title::after {
	content:'';
	width: 80px;
	height: 3px;
	background: #21062a;
	position: absolute;
	top: 20px;
	margin-left: 20px;
}

.about__inner-content {
	display: flex;
	flex-direction: row;
}
.about__info {
	max-width: 600px;
	padding-right: 90px;
}
.about__info h4{
	margin-top: 55px;
line-height: 27px;
color: #5A0D67;
font-weight: 300;
}
.about__info p{
margin-top: 12px;
font-weight: 300;
line-height: 27px;
color: #2C2B2B;
}
.about__list {
	list-style: none;
	counter-reset: counter;
}
.about__list li{
	counter-increment: counter;
	border: 2px solid #c4c4c4;
	margin-bottom: 12px;
	width: 450px;
	padding: 10px 15px 10px 113px;
	position: relative;
	transition: all 0.5s;
}
.about__list li::before{
content: '0' counter(counter);
position: absolute;
left: 20px;
font-size: 36px;
line-height: 54px;
font-weight: 400;
color: #c4c4c4;
transform: rotate(270deg);
transition: all 0.5s;
}
.about__list li h4{
font-size: 24px;
font-weight: 300;
}
.about__list li h5{
	font-weight: 300;
	line-height: 27px;
}
.about__list li:hover{
	border: 2px solid #5A0D67;
	width: 500px;
}
.about__list li:hover h4{
	color: #5A0D67;
}
.about__list li:hover::before{
	color: #5A0D67;
}
.btn--decor {
	color: #fff;
	position: relative;
}
.btn--decor::before {
	content: '';
	width: 80px;
	height: 2px;
	background: #c4c4c4;
	position: absolute;
	right: -65px;
	top: 24px;
}
.btn--decor::after {
	content: 'ЖМИ';
	color: #c4c4c4;
	margin-left: 130px;
	position: absolute;
}
.why{
	margin-bottom: 100px;
}
.why__inner {
	display: flex;
}

.why-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.info-block {
	margin-top: 40px;
margin-left: 95px;
color: #fff;
background: #21062A;
padding-bottom: 45px;
padding-left: 30px;
padding-right: 30px;
min-width: 779px;
}
.block-item {
	padding-top: 20px;
	padding-left: 185px;
	width: 510px;
}
.block-item h4{
font-weight: 400;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
}
.block-item h5{
font-weight: 300;
font-size: 24px;
line-height: 36px;
}
.block-item p{
	font-weight: 300;
font-size: 18px;
line-height: 27px;
color: #C4C4C4;
}
.auto-slider{
	margin-top: 50px;
}
.auto-slider__item {
	border: 1px solid #C4C4C4;
	margin: 7px;
	padding: 5px;
	transition: all 0.25s;
}
.auto-box {
	text-align: center;
}
.auto-box__img {
margin: 0px;
width: 385px;
height: 254px;
background: #000;
font-size: 60px;
text-align: center;
display: table-cell;
vertical-align: middle;
color: #fff;
}
.auto-box__img img{
width: 100%;
height: 100%;
}
.auto-box__content {
	margin-top: 23px;
font-weight: 300;
font-size: 18px;
line-height: 27px;
}
.auto-slider__item:hover {
background: #5A0D67;
color: #fff;
}

.auto-slider .slick-dots{
display: flex;
justify-content: center;
margin-top: 40px;
}
.auto-slider .slick-dots button{
 font-size: 0;
	margin: 0 10px;
	background: #c4c4c4;
	width: 50px;
	height: 1px;
	}

	.auto-slider .slick-active button{
	background: #5A0D67;
	height: 3px;
	}

	.contacts {
		margin-top: 100px;
	}
	.contacts__inner {
		display: flex;
		flex-direction: row;
	}
	.info {
		width: 50%;
		padding: 50px 0;
	}
	.info_blocks{
		margin-top: 50px;
	}
	.info_block {
		margin-top: 20px;
	}
	.purp {
		color: #5A0D67;
	}
	.form-title{
		margin-top: 40px;
		color: #fff;
	}
	.form-title::after{
		background: #fff;
	}
	.form {
		width: 50%;
		background: #21062a;
		color: #fff;
		text-align: center;
	}
	.inputs{
		margin: 5px 0 78px 0;
	}
	.form form{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 75px 57px;
	}
	.form input{
		background: none;
		border: 1px solid #C4C4C4;
		width: 450px;
		height: 75px;
		text-align: center;
		margin-top: 12px;
	}
	

	.footer {
		background: #21062a;
		font-weight: 300;
		padding: 15px 0;
	}
	.foonter__inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.footer__interactive-web {
		width: 250px;
		display: flex;
		justify-content: center;
	}
	.footer__interactive-web img{
		margin-left: 10px;
	}